@inherits LayoutComponentBase

<!-- Main layout (connected users) -->

<PageTitle>GetInfo</PageTitle>


<div class="text-center" style="background-image:url('/Pictures/Logos/logo-background-1.png'); height: 100px; background-repeat: no-repeat; background-size:cover">
    <a class="navbar-brand" href="home">
        <img src="/Pictures/Logos/SiteLogo2.png" style="height:100px">
    </a>
</div>


<div>
    <NavMenu />
</div>


<main>
    <article class="content px-4">
        @Body
    </article>
</main>



