<!-- Authorization / small loading screen that waits until user cookie is verified. 
Is called at pages where authorization is required.-->

<div class="d-flex justify-content-center">
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only"></span>
    </div>
    <br />
</div>
<br />
<p class="text-center fw-bold" style="font-style:italic">Please wait...</p>

